body {
    margin: 30px;
    background-color: #F78764;
    color: white;
}

header {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    max-width: fit-content;
    margin: 0px auto;
}

h1 {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    margin: 0 33px 0 0 ;
    border-radius: 20px;
    border-top: 3px solid black;
    padding: 10px;
    font-size: 60px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: underline overline;
    text-underline-offset: 15px;
}

nav {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    margin: 0 0 0 33px;
    border-radius: 20px;
    border-top: 3px solid black;
    padding: 10px;
    width: 250px;
}

#sites {
    padding: 0px;
    list-style: none;
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

li {
    margin-bottom: 5px ;
    background-color: #B86F52;
    border-radius: 5px;
}

#site-navigation {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

#siteinfo {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    max-width: 691px;
    font-size: 30px;
    text-align: center;
    border-top: 3px solid black;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}