body {
    margin: 30px;
    background-color: #F78764;
    color: white;
}

header {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    max-width: fit-content;
    margin: 0px auto;
}

h1 {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    margin: 0 33px 0 0 ;
    border-radius: 20px;
    border-top: 3px solid black;
    padding: 10px;
    font-size: 80px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: underline overline;
    text-underline-offset: 15px;
}

h2{
    font-size: 70px;
    text-decoration: underline;
    background-color: #634133;
    width: 680px;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
    padding: 5px;
}

nav {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    margin: 0 0 0 33px;
    border-radius: 20px;
    border-top: 3px solid black;
    padding: 10px;
    width: 250px;
}

#sites {
    padding: 0px;
    list-style: none;
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

li {
    margin-bottom: 5px ;
    background-color: #B86F52;
    border-radius: 5px;
}

#site-navigation {
    margin: 0px auto;
    font-size: 30px;
    text-decoration: underline;
    border-radius: 5px;
    width: 235px;
}

#siteinfo {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    max-width: 691px;
    font-size: 30px;
    text-align: center;
    border-top: 3px solid black;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}

footer {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    max-width: fit-content;
    margin: 0px auto;
}

form {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    border-radius: 20px;
    padding: 10px;
    border-top: 3px solid black;
    margin-right: 15px;
}

.container {
    display: flex;
    margin-top: 5px;
}

#group-one {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-right: 20px;
}

#group-two {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: 20px;
}

.question {
    display: flex;
    margin-bottom: 15px;
}

#form-name {
    margin: 0 0 10px 0;
    font-size: 25px;
    text-decoration: underline;
}

label {
    font-size: 20px;
    margin: 0 0 5px 0;
    max-width: fit-content;
}

input {
    max-width: fit-content;
}

button {
    width: 100px;
    margin-top: 5px;
}

textarea {
    width: 400px;
    height: 100px;
    font-size: 15px;
}

#socials {
    background-image: linear-gradient(to bottom, #B86F52, #523125);
    border-top: 3px solid black;
    border-radius: 20px;
    padding: 10px;
}

#socialtitle {
    font-size: 25px;
    margin: 0;
    text-decoration: underline;
    text-align: center;
}

#tagname {
    margin: 10px 0 0 0;
    font-size: 21px;
    text-align: center;
}

#about {
    display: flex;
    width: 1200px;
    margin: 0 auto 30px auto;
    gap: 30px;
}

.content {
    flex: 1;
    background-color: #523125;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

#welcome {
    font-size: 30px;
    margin: 0;
}

.rating {
    font-size: 40px;
    margin: 0 0 10px 0;
    text-align: center;
}

.reaction {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
}

span {
    font-size: 20px;
}

.main-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-content img {
    width: 400px;
    height: auto;
}

.area {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    margin-left: 15px;
}

.left-area {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    width: fit-content;
    margin-right: 15px;
}

.paragraph {
    background-color: #634133;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}
